<div id="carouselDark" class="carousel carousel-dark slide mb-3">
    <div class="carousel-indicators">
        {% for i in paginated_days.count %}
            <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for week in paginated_days %}
            <div class="carousel-item active">
            </div>
            <div class="carousel-item">
                {% for day in week %}
                    <figure class="figure border border-primary border-2 rounded" style="width: 10%; height: 100px;">
                        <span class="text-center text-wrap text-break">{{ day.name }}</span>
                    </figure>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>