{% extends 'base.html' %}

{% block content %}
    <h2 class="h2">{{ project.name }}</h2>
    <p class="d-flex justify-content-between">
        {{ project.timer }}
        <a href="{% url 'project:day_create' project.slug %}"><input type="button" class="btn btn-primary" value="Add day"></a>
    </p>
    {% include 'includes/day/pagination.html' %}

    {% for day in days %}
        <div class="d-flex justify-content-center">
            <div class="card mb-3" style="width: 42rem;">
                <div class="card-header d-flex justify-content-between">
                    <span>
                        <span class="h3">{{ day.name }}</span>
                        <a href="{% url 'project:day_edit' project.slug day.id %}" class="link-primary link-underline link-underline-opacity-0">Edit</a>
                    </span>
                    <a href="{% url 'project:day_delete' project.slug day.id %}" class="d-flex justify-content-end"><button type="button" class="btn-close" aria-label="Close"></button></a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for task in day.tasks.all %}
                        {% include 'includes/task/complete.html' %}
                    {% endfor %}
                    {% if not day.complete %}
                        {% include 'includes/task/create.html' %}
                    {% endif %}
                </ul>
                <div class="card-footer d-flex justify-content-center">
                    <form method="post" action="{% url 'project:day_complete' project.slug day.id %}">
                        {% csrf_token %}
                        {% if day.complete %}
                            <input class="btn btn-secondary" type="submit" name="Incomplete" value="Incomplete" onchange="this.form.submit()">
                        {% else %}
                            <input class="btn btn-primary" type="submit" name="complete" value="Complete" onchange="this.form.submit()">
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}