<li class="list-group-item">
    <form method="post" action="{% url 'project:task_complete' project.slug day.id task.id %}">
        {% csrf_token %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="complete" value="True" onchange="this.form.submit()" {% if task.complete %}checked{% endif %}>
            <p class="form-check-label text-wrap text-break d-flex justify-content-between">
                <span class="{% if task.complete %} text-decoration-line-through text-body-secondary {% endif %}" style="width: 34rem;">
                    {% if task.optional %}
                        <span class="text-body-secondary">(Optional) {{ task.name }}</span>
                    {% else %}
                        {{ task.name }}
                    {% endif %}
                </span>
                <span class="d-flex align-items-between">
                    <a href="{% url 'project:task_edit' project.slug day.id task.id %}" class="link-primary link-underline link-underline-opacity-0">Edit</a>
                    <a href="{% url 'project:task_delete' project.slug day.id task.id %}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                </span>
            </p>
        </div>
    </form>
</li>


