{% extends 'base.html' %}

{% block content %}
    <h2>Settings</h2>
    <div class="mb-3">
        <a href="{% url 'account:password_change' %}">
            <button type="button" class="btn btn-primary">
                Change password
            </button>
        </a>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete account
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your account? All data will be deleted permanently.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'account:account_delete' request.user %}">
                                <button type="button" class="btn btn-primary">Delete</button>
                            </a>
                        </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}