{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'project:day_create' project.slug %}">
        {% csrf_token %}
        <div class="card mb-3" style="width: {{ DAY_WIDTH }}%;">
            <div class="card-header">
                <p>{{ day_form.name }}</p>
                <p>{{ day_form.date }}</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="+">
            </div>
        </div>
    </form>
{% endblock %}