{% extends 'base.html' %}

{% block content %}
    {% include 'includes/project/detail.html' %}

    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: {{ DAY_WIDTH }}%;">
            <div class="card-header d-flex justify-content-between">
                <span>
                    <span class="h3 text-break text-wrap">{{ day.name }}</span>
                    {% if not day.complete and project.edit_mode %}
                        <a href="{% url 'project:day_edit' request.user.username project.slug day.id %}" class="link-primary link-underline link-underline-opacity-0">
                            Edit
                        </a>
                    {% endif %}
                    {% if day.date %}
                        <p class="{% if date.day <= day.date.day and date.month <= day.date.month and date.year <= day.date.year or day.complete %} text-body-secondary {% else %} text-danger {% endif %}">{{ day.date }}</p>
                    {% endif %}
                </span>
                {% if not day.complete and project.edit_mode %}
                    <a href="{% url 'project:day_delete' request.user.username project.slug day.id %}" class="d-flex justify-content-end"><button type="button" class="btn-close" aria-label="Close"></button></a>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                {% for task in day.tasks.all %}
                    {% include 'includes/task/complete.html' %}
                {% endfor %}
                {% if not day.complete and project.edit_mode %}
                    {% include 'includes/task/create.html' %}
                {% endif %}
            </ul>
            <div class="card-footer d-flex justify-content-center">
                {% include 'includes/day/complete.html' %}
            </div>
        </div>
    </div>
{% endblock %}