{% extends 'base.html' %}
{% load static %}

{% block title %}{{ day.name }}{% endblock %}

{% block content %}
    {% include 'includes/project/detail.html' %}

    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: {{ DAY_WIDTH }}%;">
            <div class="card-header d-flex justify-content-between">
                <span>
                    <span class="h3 text-break text-wrap">{{ day.name }}</span>
                    {% if not day.complete and project.edit_mode %}
                        <a href="{% url 'project:day_edit' request.user.username project.slug day.id %}" class="link-primary link-underline link-underline-opacity-0">
                            Edit
                        </a>
                    {% endif %}
                    {% if day.date %}
                        <p class="{% if date.day <= day.date.day and date.month <= day.date.month and date.year <= day.date.year or day.complete %} text-body-secondary {% else %} text-danger {% endif %}">{{ day.date }}</p>
                    {% endif %}
                </span>
                {% if not day.complete and project.edit_mode %}
                    <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#DeleteDayModal"></button>
                    <div class="modal fade" id="DeleteDayModal" tabindex="-1" aria-labelledby="DeleteDayModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete the day</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete "{{ day.name }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'project:day_delete' request.user.username project.slug day.id %}" class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>


            <ul class="list-group list-group-flush drag-list">
                {% for task in tasks %}
                    <li class="list-group-item drag-item" draggable="true">
                        {% include 'includes/task/complete.html' %}
                        <input type="hidden" class="task_id" value="{{ task.id }}">
                    </li>
                {% endfor %}

                {% if not day.complete and project.edit_mode %}
                    {% include 'includes/task/create.html' %}
                {% endif %}
            </ul>
            <script type="text/javascript" src="{% static 'js/drag_and_drop_tasks.js' %}"></script>

            <div class="card-footer d-flex justify-content-center">
                {% include 'includes/day/complete.html' %}
            </div>
        </div>
    </div>
{% endblock %}