{% extends 'base.html' %}

{% block content %}
    {% for project in projects %}
        <div class="card mb-3">
            <a href="{% url 'project:project_detail' project.slug %}" class="link-dark link-underline link-underline-opacity-0">
                <div class="card-body">
                    <p class="d-flex align-items-center justify-content-between"><span class="h2">{{ project.name }}</span> {{ project.timer }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}