{% load static %}

<form method="post" action="{% url 'project:project_timer' project.slug %}">
    {% csrf_token %}

    <button id="startBtn" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-play" viewBox="1 2 13 13">
          <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
        </svg>
    </button>
    <button id="pauseBtn" class="btn btn-dark" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-square" viewBox="-1 -1 20 20">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>
    </button>
    
    <span id="timer" class="fs-5">{{ project.timer_string }}</span>
    <input type="hidden" id="totalTime" name="timer" value="{{ project.timer }}">
<input type="hidden" id="slug" value="{{ project.slug }}">
    <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
</form>
